footer {
    margin-top: 1rem;
    background-image: url(/imgs/footer-bg.jpeg);
    min-height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    opacity: .9;
    padding-top: 1.5rem;
    background-position: 30% 80%;
}


.container-footer small {
    font-size: 1.402rem;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.083200em;

}
.footer-a {
    text-decoration: none;
}
.container-footer svg {
    color:#f5f5f5;
    width: 45px;
    height: 45px;
}
.second-container-footer {
    padding: 6px 8px;
    background: rgba(255,255,255,0.2);
    backdrop-filter: blur(5px);
    border-radius: 6px;
    margin-bottom: 1rem;
    border: 1px solid rgba(255,255,255,0.25);
}
.second-container-footer h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.6342rem;

}
.second-container-footer small {
    color: #000;
}

