.container {
    width: 350px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 3px;
    border: 1px solid #396afc;
    background: linear-gradient(to right, #005c97, #062f81);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .container form .descr {
    font-size: 20px;
    font-weight: 500;
    color: #e8e8e8;
    margin-bottom: 25px;
    margin-top: 35px;
    text-align: center;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .input, textarea {
    margin: 1em 0 1em 0;
    width: 300px;
    position: relative;
  }
  
  .input input, textarea {
    font-size: 100%;
    padding: 0.7em;
    outline: none;
    color: #e8e8e8;
    border: none;
    border-bottom: 2px solid #e8e8e8;
    background: transparent;
    border-radius: none;
    width: 100%;
    resize: none;
  }
  
  .input label {
    font-size: 100%;
    color: #e8e8e8;
    padding: 0.7em;
    margin-left: 0.1em;
    pointer-events: none;
    transition: all 0.5s ease;
    text-transform: uppercase;
  }
  

  
  .button-form {
    color: #e8e8e8;
    font-size: 15px;
    align-self: flex-start;
    padding: 0.6em;
    border: none;
    margin-top: 6px;
    cursor: pointer;
    margin-bottom: 50px;
    background: transparent;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
  }
  
  .form button:before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e8e8e8;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .form button:hover:before {
    opacity: 0.2;
  }
  .contacto-form {
    padding: 8px;
    text-transform: uppercase;
    color: #fff;
    margin: auto;
    text-align: center;
    background-color: #005d9786;
  }

  .form button:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
  
