.hero-main-container {
    width: 100%;
    /* position: relative; */
    display: flex;
    gap: .5rem;
    justify-content: center;
    height: 90vh;
    backdrop-filter: blur(10px);
}

.hero-page-container {
    width: 100%;
    display: flex;
    margin: auto 0;
    height: 40vh;
    gap: .5rem;
    text-align: center;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    background-color: rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    justify-content: space-around;
    
}
.hero-mid-section {
   display: flex;
   flex-direction:column ;
   justify-content: center;
   align-items: center;
   gap: .5rem;
}
.call-now-a {
   display: flex;
   justify-content: center;
   width: 60%;
    text-decoration: none;
    padding: 6px .7rem .3rem .5rem;
   text-transform: uppercase;
    background-color: #0bf30f90; 
    color: #fff;
    border-radius: 6px;
    font-weight: 600;
    /* border: 2px solid #067407; */
}

.call-now-a ~ p {
   color: #fff;
}
.call-now-a svg {
    padding:3px;
    width: 34px;
    height: 34px;
    animation: phone-shaking 1200ms ease-in infinite;
}
.contact-now {
    font-family: 'Teko', sans-serif;
    margin: auto 0;
}
@keyframes phone-shaking {
    0% { transform: translateY(0) }
    25% { transform: translateY(2.5px) }
    50% { transform: translateY(-2.5px) }
    75% { transform: translateY3(2.5px) }
    100% { transform: translateY(0) }
   }


.heading-salto {
    font-size: 2.709rem;
    font-weight: 500;
    text-align: lefts;
    position: relative;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    font-family: 'Anta', sans-serif;
    text-shadow: -1px 5px 7px rgba(54, 48, 48, 0.92);
  }
.container-img-hero {
    width: 100%;
    position: absolute;
    height: 90vh;
    right: 0;
    z-index: -1;
    background-image: url(/imgs/hugehero.jpg);
    background-position: 30% 80%;
    background-size: cover;
    background-repeat: no-repeat;
}

  .reveal-title {
    animation: slideIn 500ms ease-out;
  }
  @keyframes slideIn {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    30% {
      transform: translateX(-50%);
      opacity: .3;
    }
    70% {
      transform: translateX(-10%);
      opacity: .7;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .heading-salto:before {
    content: attr(data-glitch);
    position: absolute;
    top: 0;
    left: -2px;
    width: 100%;
    color: #fff;
    text-shadow: 3px 5px 7px rgb(118, 121, 81);
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-before 4s infinite linear alternate-reverse;
  }

.heading-salto:after {
    content: attr(data-glitch);
    position: absolute;
    top: 0;
    left: 2px;
    width: 100%;
    color: #fff;
    text-shadow: 3.5px 5px 7px rgb(118, 121, 81);
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-after 2.5s infinite linear alternate-reverse;
  }

  .small-salto {
    margin-top: .3rem;
    margin-bottom: 6px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.0934em;
    font-style: italic;
  }


  @keyframes shift {
    0%, 40%, 44%, 58%, 61%, 65%, 69%, 73%, 100% {
       transform: skewX(0deg);
    }
  
    41% {
       transform: skewX(10deg);
    }
  
    42% {
       transform: skewX(-10deg);
    }
  
    59% {
       transform: skewX(40deg) skewY(10deg);
    }
  
    60% {
       transform: skewX(-40deg) skewY(-10deg);
    }
  
    63% {
       transform: skewX(10deg) skewY(-5deg);
    }
  
    70% {
       transform: skewX(-50deg) skewY(-20deg);
    }
  
    71% {
       transform: skewX(10deg) skewY(-10deg);
    }
  }


  @keyframes noise-before {
    0% {
       clip: rect(61px, 9999px, 52px, 0);
    }
 
    5% {
       clip: rect(33px, 9999px, 144px, 0);
    }
 
    10% {
       clip: rect(121px, 9999px, 115px, 0);
    }
 
    15% {
       clip: rect(144px, 9999px, 162px, 0);
    }
 
    20% {
       clip: rect(62px, 9999px, 180px, 0);
    }
 
    25% {
       clip: rect(34px, 9999px, 42px, 0);
    }
 
    30% {
       clip: rect(147px, 9999px, 179px, 0);
    }
 
    35% {
       clip: rect(99px, 9999px, 63px, 0);
    }
 
    40% {
       clip: rect(188px, 9999px, 122px, 0);
    }
 
    45% {
       clip: rect(154px, 9999px, 14px, 0);
    }
 
    50% {
       clip: rect(63px, 9999px, 37px, 0);
    }
 
    55% {
       clip: rect(161px, 9999px, 147px, 0);
    }
 
    60% {
       clip: rect(109px, 9999px, 175px, 0);
    }
 
    65% {
       clip: rect(157px, 9999px, 88px, 0);
    }
 
    70% {
       clip: rect(173px, 9999px, 131px, 0);
    }
 
    75% {
       clip: rect(62px, 9999px, 70px, 0);
    }
 
    80% {
       clip: rect(24px, 9999px, 153px, 0);
    }
 
    85% {
       clip: rect(138px, 9999px, 40px, 0);
    }
 
    90% {
       clip: rect(79px, 9999px, 136px, 0);
    }
 
    95% {
       clip: rect(25px, 9999px, 34px, 0);
    }
 
    100% {
       clip: rect(173px, 9999px, 166px, 0);
    }
 }
 
 @keyframes noise-after {
    0% {
       clip: rect(26px, 9999px, 33px, 0);
    }
 
    5% {
       clip: rect(140px, 9999px, 198px, 0);
    }
 
    10% {
       clip: rect(184px, 9999px, 89px, 0);
    }
 
    15% {
       clip: rect(121px, 9999px, 6px, 0);
    }
 
    20% {
       clip: rect(181px, 9999px, 99px, 0);
    }
 
    25% {
       clip: rect(154px, 9999px, 133px, 0);
    }
 
    30% {
       clip: rect(134px, 9999px, 169px, 0);
    }
 
    35% {
       clip: rect(26px, 9999px, 187px, 0);
    }
 
    40% {
       clip: rect(147px, 9999px, 137px, 0);
    }
 
    45% {
       clip: rect(31px, 9999px, 52px, 0);
    }
 
    50% {
       clip: rect(191px, 9999px, 109px, 0);
    }
 
    55% {
       clip: rect(74px, 9999px, 54px, 0);
    }
 
    60% {
       clip: rect(145px, 9999px, 75px, 0);
    }
 
    65% {
       clip: rect(153px, 9999px, 198px, 0);
    }
 
    70% {
       clip: rect(99px, 9999px, 136px, 0);
    }
 
    75% {
       clip: rect(118px, 9999px, 192px, 0);
    }
 
    80% {
       clip: rect(1px, 9999px, 83px, 0);
    }
 
    85% {
       clip: rect(145px, 9999px, 98px, 0);
    }
 
    90% {
       clip: rect(121px, 9999px, 154px, 0);
    }
 
    95% {
       clip: rect(156px, 9999px, 44px, 0);
    }
 
    100% {
       clip: rect(67px, 9999px, 122px, 0);
    }
 }