.container-whatsapp {
    position: fixed;
    right: 5%;
    bottom: 0;
    width: 45px;
    height: 45px;
    background-color: #25d366;
    padding: .8742rem;
    margin-right: 2.3rem;
    margin-bottom: 2.1023rem;
    border-radius: 50%;
    z-index: 888;
}
.contact-whatsapp {
    width: 45px;
    height: 45px;
    color: #fff;
}