@font-face {
    font-family: 'Söhne';
    src: url(TestSöhneMono-Extraleicht.otf);
    font-family: 'Söhne Halfbett';
    src: url(TestSöhneMono-Halbfett.otf);
}

* {
    font-family: 'Inter', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.container-whatsapp {
    position: fixed;
    right: 5%;
    bottom: 0;
    width: 45px;
    height: 45px;
    background-color: #25d366;
    padding: .8742rem;
    margin-right: 2.3rem;
    margin-bottom: 2.1023rem;
    border-radius: 50%;
    z-index: 888;
}
.contact-whatsapp {
    width: 45px;
    height: 45px;
    color: #fff;
}